<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>


<script src="https://use.fontawesome.com/8ba9288b49.js"></script>


<div id='content'></div>
