/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /*reset*/
  html, body, header, nav, h1, a,
  ul, li, strong, main, button, i,
  section, img, div, h2, p, form,
  fieldset, label, input, textarea,
  span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-family: 'Josefin Sans', sans-serif;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
  }

  ul {
   list-style: none;
  }

  img {
   display: block;
   width: 100%;
   height: auto;
  }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  textarea,
  button {
   -webkit-appearance: none;
   -moz-appearance: none;
  }

  button,
  input[type="submit"] {
   cursor: pointer;
  }

  /* Clearfix */

  .group:after {
   content: "";
   display: block;
   clear: both;
  }

  /*Styling*/

  body {
    font-family: 'Josefin Sans', sans-serif;
  }

  /*Header*/
  .header-container {
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: 0px 1px 5px #888888;
    display: flex;
    align-items: center;
  }

  header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   margin: 0 auto;
   width: 80%;
   height: 49px;
  }

  .header-link {
   color: white;
  }

  .header-link > h1 {
   color: white;
   font-size: 41px;
   font-weight: 400;
   font-family: 'Quicksand', sans-serif;
  }

  /*Nav*/

  nav {
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-family: 'Josefin Sans', sans-serif;
  }

  .login-signup {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .login-signup li {
   margin-left: 20px;
   font-weight: 300;
  }

  .nav-underline:hover {
   text-decoration: underline;
   cursor: pointer;
  }

  .signin {
   border: 1px solid white;
   border-radius: 10px;
   padding: 7.5px;
  }

  .signin:hover {
   background: #ccc;
  }

  h3 {
   font-size: 16px;
   font-weight: 700;
  }

  .nav-image1 {
    width: 32px;
    height: auto;
  }

  .nav-image2 {
    width: 34px;
    height: auto;
  }

  .nav-image3 {
    width: 24px;
    height: auto;
  }

  .nav-image4 {
    width: 31px;
    height: 31px;
  }

  .nav-image-cart {
    width: 32px;
    height: 32px;
  }

  /*Modal*/

  .modalTab {
     background: black;
     display: flex;
     padding-left: 40px;
     padding-right: 10px;
     width: 300px;
     height: 55px;
     justify-content: flex-start;
     align-items: flex-end;
     width: 100%;
     box-sizing: border-box;
  }


  .tab {
     color: black;
     background: #ccc;
     padding: 10px;
     border-top: 1px solid #ccc;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
     display: flex;
     font-family: 'Josefin Sans', sans-serif;
  }

  .tab:hover {
    text-decoration: underline;
  }

  .tab-selected {
     color: black;
     background: white;
     font-family: 'Josefin Sans', sans-serif;
  }
  .first-tab {
    border-right: 0;
  }

  .second-tab {
    border-left: 0;
  }

  .modalForm {
     border-bottom: 1px solid #ccc;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
     border-radius: 10px solid #ccc;
     height: 424px;
     display: flex;
     align-items: center;
     overflow: hidden;
  }

  .form-box {
     color: black;
     width: 280px;
     padding:  15px 53px;
     font-family: 'Josefin Sans', sans-serif;
  }


  .login-input {
    width: 216px;
    margin: 8px 0;
    padding: 6px;
    border: 1px solid #ccc;
  }

  .login-label {
     margin-top: 8px;
     margin-bottom: 8px;
  }

  .errorRegister {
     color: red;
     margin-top: 8px;
     margin-bottom: 8px;
     font-family: 'Josefin Sans', sans-serif;
  }

  .errorSignIn {
     color: red;
     margin-bottom: 8px;
     font-family: 'Josefin Sans', sans-serif;
  }

  .login-submit {
     padding: 10px 15px;
     border-radius: 10px;
     width: 200px;
     color: black;
     background: rgba(254,220,210,1);
     text-align: center;
     font-family: 'Josefin Sans', sans-serif;
     margin-bottom: 10px;
     border: 1px solid  black;
  }

  .login-submit:hover {
     background: #ccc;
  }

  /*Dropdown*/

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 1px 5px #888888;
  }

  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0px;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
  }

  .dropdown-content li:hover {
    background-color: grey;
    cursor: pointer;
    color: black;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Listing*/
  .listing-title {
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .listing-index-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .listing-index-item-container {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .filler-div {
    width: 222px;
    height: 0;
  }

  .listing-img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }

  .listing-name {
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
  }

  .listing-index-item-container:hover {

    cursor: pointer;
  }

  .single-listing-show {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 5px #888888;
  }

  .back:hover {
    background-color: #ccc;
  }

  /*Listing Detail*/
  .listing-detail-container {
    background-color: white;
    margin: 0 auto;
    width: 800px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 5px #888888;
  }

  .listing-detail-top {
    display: flex;
    justify-content: space-between;

  }

  .listing-detail-image {
    width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }

  .listing-detail-overview {
    width: 50%;
    height: auto;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .listing-detail-overview-name {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: black;
    font-size: 26px;
  }

  .listing-detail-overview-title {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: black;
    font-size: 22px;
  }

  .listing-detail-overview-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: black;
    font-size: 18px;
  }

  .listing-detail-overview-info {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: black;
    font-size: 16px;
  }



  /*Lisitng Form*/
  .listing-form {
    margin-top: 20px;
    width: 100%
  }

  .listing-form-label {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color:black;
  }

  .listing-form-input {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #888888;
    width: 40px;
  }

  .listing-form-input:focus {
    background-color: white;
  }



  .listing-button-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;

  }

  .listing-form-button {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    color:black;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 1px 5px #888888;
    background-color: white;
    font-size: 20px;
  }

  .listing-form-button:hover {
    background-color: white;
  }

  /*Details*/
  .listing-detail-bottom {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin-top: 5px;
  }

  .details-nav{
    display: flex;
    margin-left: 10px;
  }

  .details-tab {
    background-color: white;
    padding: 10px;
  }

  .selected {
    background-color: white;
  }

  .details-tab:hover {
    cursor: pointer;
    background-color: black;
    color: #ccc;
  }

  .left {
    border-top-left-radius: 5px;
  }

  .middle{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .right {
    border-top-right-radius: 5px;
  }

  .details-body {
    margin: 10px;
    margin-top: 0;
    background: white;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
    border-top-right-radius:  10px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    height: 200px;
    overflow: auto;
    overflow-x: hidden;
  }

  .review-index-item {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .review-box {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .review-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .review-user {
    margin: 10px 0;
  }

  .review-star:before {
    content: "\2605";

  }

  .review-star {
    color: yellow;
  }

  .review-score {
    margin: 10px 0;
    font-size: 24px;
  }

  .review-comment {
    margin: 10px 0;
    font-style: italic;
  }

  .average {
    font-size: 24px;
  }



  /*Cart*/
  .cart-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-container-title {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;

  }

  .cart-item-container {
    width: 500px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #888888;
    padding-bottom: 10px;
  }

  .cart-back{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 5px #888888;

    text-align: center;
  }

  /*Creator*/
  .creator-container {
    display: flex;
    align-items: center;
  }
  .creator-img {
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .creator-title {
    padding: 10px;
    padding-left: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 18px;
    margin: 0px;
  }

  /*Cart Listing*/
  .cart-listing-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cart-listing-img {
    width: 100px;
    height: 100px;
  }

  .cart-listing-detail-container {
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;

  }

  .cart-listing-left {
    display: flex;
    width: 70%;
    align-items: center;
  }

  .cart-listing-left p {
    margin: 10px 0;
  }

  .cart-listing-label {
    margin: 10px 0;
  }

  .cart-listing-input {
    margin-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #888888;
    width: 40px;
  }

  .cart-listing-detail-button {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #888888;
    background-color: white;
    text-align: center;

  }

  .cart-listing-detail-button:hover {
    background-color: #ccc;
  }

  .cart-pay-title {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    padding-left: 10px
  }

  .cart-pay-container {
    border-left: 1px solid #ccc;
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  /*Search*/
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 400px;
  height: 20px;
  padding: 10px 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 1px 5px #888888;
  margin: 0 20px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 40px;
  width: 440px;
  margin: 0 20px;

  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-top: 0;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  box-shadow: 0px 4px 5px #888888;
  color: black;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ccc;
}

.suggestion {
  display: flex;
  align-items: center;
}

.suggestion-name {
  margin: 10px;
}

.suggestion-img {
  width: 50px;
  height: 50px;
}

.react-autosuggest__suggestion:last-child {
  display: none;
}


/*Review Form*/
.review-form-container{
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 600px;
}

.review-form-label {
  text-align: center;
  font-size: 30px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.review-form-box{
  display: flex;
  flex-direction: column;
  background-color: #white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #888888;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
}

.score-box {
  justify-content: center;
}

.review-label {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
  font-size: 26px;
  font-weight: 400;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
}

.comment-textarea {
  border: 1px solid black;
  resize: none;
  width: 548px;
  height: 200px;
  margin: 10px;
  padding: 5px;
  box-shadow: 0px 1px 5px #888888;
  color: black;
}

.review-button-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.review-button {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #888888;
  background-color: white;
  text-align: center;
}

.review-button:hover {
  background-color: #ccc;
}

/*Stars*/
fieldset, label {
  margin: 0;
  padding: 0;
}

fieldset {
  margin-left: 5px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
  content: "\2605";
  display: inline-block;
}

.rating > label {
  float: right;
  color: #ddd;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: yellow;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: yellow;
}


/** Footer **/

.footer-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-container > a {
  margin-top: 10px;
}

.fa {
  margin: 0 10px;
}
