/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /*reset*/
  html, body, header, nav, h1, a,
  ul, li, strong, main, button, i,
  section, img, div, h2, p, form,
  fieldset, label, input, textarea,
  span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-family: 'Josefin Sans', sans-serif;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
  }

  ul {
   list-style: none;
  }

  img {
   display: block;
   width: 100%;
   height: auto;
  }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  textarea,
  button {
   -webkit-appearance: none;
   -moz-appearance: none;
  }

  button,
  input[type="submit"] {
   cursor: pointer;
  }

  /* Clearfix */

  .group:after {
   content: "";
   display: block;
   clear: both;
  }

  /*Styling*/

  /*Header*/
  header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #BFD8D2;
   height: 49px;
   padding: 15.5px 100px;
   box-shadow: 0px 1px 5px #888888;
  }

  .header-link {
   color: #DF744A;
  }

  .header-link > h1 {
   color: #DF744A;
   font-size: 41px;
   font-weight: 400;
  }

  /*Nav*/

  nav {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #DF744A;
  }

  .login-signup {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .login-signup li {
   margin-left: 20px;
   font-weight: 300;
  }

  .nav-underline:hover {
   text-decoration: underline;
   cursor: pointer;
  }

  .signin {
   border: 1px solid #DF744A;
   border-radius: 5px;
   padding: 7.5px;
  }

  .signin:hover {
   background: #FEDCD2;
  }

  h3 {
   font-size: 16px;
   font-weight: 700;
  }

  .nav-image1 {
    width: 32px;
    height: auto;
  }

  .nav-image2 {
    width: 34px;
    height: auto;
  }

  .nav-image3 {
    width: 24px;
    height: auto;
  }

  .nav-image4 {
    width: 31px;
    height: 31px;
  }

  /*Modal*/

  .modalTab {
   background: #BFD8D2;
   display: flex;
   padding-left: 40px;
   padding-right: 10px;
   width: 300px;
   height: 55px;
   justify-content: flex-start;
   align-items: flex-end;
   width: 100%;
   box-sizing: border-box;
  }


  .tab {
   color: #DF744A;
   background: #FEDCD2;
   padding: 10px;
   border-top: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   display: flex;
  }

  .tab:hover {
   text-decoration: underline;
  }

  .tab-selected {
   color: #DF744A;
   background: white;
  }
  .first-tab {
   border-right: 0;
  }

  .second-tab {
   border-left: 0;
  }

  .modalForm {
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-radius: 5px solid #ccc;
  }

  .form-box {
   color: #DF744A;
   width: 280px;
   padding:  15px 53px;
  }


  .login-input {
  width: 216px;
  margin: 8px 0;
  padding: 6px;
  border: 1px solid #ccc;
  }

  .login-label {
   margin-top: 8px;
   margin-bottom: 8px;
  }

  .errorRegister {
   color: red;
   margin-top: 8px;
   margin-bottom: 8px;
  }

  .errorSignIn {
   color: red;
   margin-bottom: 8px;
  }

  .login-submit {
   padding: 10px 15px;
   border-radius: 5px;
   width: 200px;
   color: #DF744A;
   background: rgba(254,220,210,1);
   text-align: center;
  }

  .login-submit:hover {
   background: rgba(254,220,210,0.7);
  }

  /*Dropdown*/

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FEDCD2;
    min-width: 50px;
    box-shadow: 0px 1px 5px #888888;
  }

  .dropdown-content li {
      color: #DF744A;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      margin: 0px;
      background-color: ghostwhite;
  }

  .dropdown-content li:hover {
    background-color: rgba(254,220,210,0.1);
    cursor: pointer;
    text-decoration: underline;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
