/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /*reset*/
  html, body, header, nav, h1, a,
  ul, li, strong, main, button, i,
  section, img, div, h2, p, form,
  fieldset, label, input, textarea,
  span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-family: 'Josefin Sans', sans-serif;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
  }

  ul {
   list-style: none;
  }

  img {
   display: block;
   width: 100%;
   height: auto;
  }

  input[type="password"],
  input[type="email"],
  input[type="text"],
  textarea,
  button {
   -webkit-appearance: none;
   -moz-appearance: none;
  }

  button,
  input[type="submit"] {
   cursor: pointer;
  }

  /* Clearfix */

  .group:after {
   content: "";
   display: block;
   clear: both;
  }

  /*Styling*/

  /*Header*/
  .header-container {
    width: 100%;
    height: 80px;
    background-color: #BFD8D2;
    box-shadow: 0px 1px 5px #888888;
    display: flex;
    align-items: center;
  }

  header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #BFD8D2;
   margin: 0 auto;
   width: 80%;
   height: 49px;
  }

  .header-link {
   color: #DF744A;
  }

  .header-link > h1 {
   color: #DF744A;
   font-size: 41px;
   font-weight: 400;
   font-family: 'Josefin Sans', sans-serif;
  }

  /*Nav*/

  nav {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #DF744A;
   font-family: 'Josefin Sans', sans-serif;
  }

  .login-signup {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .login-signup li {
   margin-left: 20px;
   font-weight: 300;
  }

  .nav-underline:hover {
   text-decoration: underline;
   cursor: pointer;
  }

  .signin {
   border: 1px solid #DF744A;
   border-radius: 10px;
   padding: 7.5px;
  }

  .signin:hover {
   background: #FEDCD2;
  }

  h3 {
   font-size: 16px;
   font-weight: 700;
  }

  .nav-image1 {
    width: 32px;
    height: auto;
  }

  .nav-image2 {
    width: 34px;
    height: auto;
  }

  .nav-image3 {
    width: 24px;
    height: auto;
  }

  .nav-image4 {
    width: 31px;
    height: 31px;
  }

  /*Modal*/

  .modalTab {
   background: #BFD8D2;
   display: flex;
   padding-left: 40px;
   padding-right: 10px;
   width: 300px;
   height: 55px;
   justify-content: flex-start;
   align-items: flex-end;
   width: 100%;
   box-sizing: border-box;
  }


  .tab {
   color: #DF744A;
   background: #FEDCD2;
   padding: 10px;
   border-top: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   display: flex;
   font-family: 'Josefin Sans', sans-serif;
  }

  .tab:hover {
   text-decoration: underline;
  }

  .tab-selected {
   color: #DF744A;
   background: white;
   font-family: 'Josefin Sans', sans-serif;
  }
  .first-tab {
   border-right: 0;
  }

  .second-tab {
   border-left: 0;
  }

  .modalForm {
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-radius: 10px solid #ccc;
  }

  .form-box {
   color: #DF744A;
   width: 280px;
   padding:  15px 53px;
   font-family: 'Josefin Sans', sans-serif;
  }


  .login-input {
  width: 216px;
  margin: 8px 0;
  padding: 6px;
  border: 1px solid #ccc;
  }

  .login-label {
   margin-top: 8px;
   margin-bottom: 8px;
  }

  .errorRegister {
   color: red;
   margin-top: 8px;
   margin-bottom: 8px;
   font-family: 'Josefin Sans', sans-serif;
  }

  .errorSignIn {
   color: red;
   margin-bottom: 8px;
   font-family: 'Josefin Sans', sans-serif;
  }

  .login-submit {
   padding: 10px 15px;
   border-radius: 10px;
   width: 200px;
   color: #DF744A;
   background: rgba(254,220,210,1);
   text-align: center;
   font-family: 'Josefin Sans', sans-serif;
  }

  .login-submit:hover {
   background: rgba(254,220,210,0.7);
  }

  /*Dropdown*/

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 50px;
    box-shadow: 0px 1px 5px #888888;
  }

  .dropdown-content li {
    color: #DF744A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0px;
    background-color: rgba(254,220,210,1);
    font-family: 'Josefin Sans', sans-serif;
  }

  .dropdown-content li:hover {
    background-color: rgba(254,220,210,0.7);
    cursor: pointer;
    text-decoration: underline;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Listing*/
  .listing-title {
    text-align: center;
    font-size: 30px;
    color: #DF744A;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .listing-index-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .listing-index-item-container {
    background-color: rgba(254,220,210,1);
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0px 1px 5px #888888;
    border-radius: 10px;
    align-items: center;
  }

  .listing-img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
  }

  .listing-name {
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    color: #DF744A;
    font-family: 'Josefin Sans', sans-serif;
  }

  .listing-index-item-container:hover {
    background-color: rgba(254,220,210,0.6);
    cursor: pointer;
  }

  .single-listing-show {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back {
    color: #DF744A;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(254,220,210,1);
    box-shadow: 0px 1px 5px #888888;
  }

  .back:hover {
    background-color: rgba(254,220,210,0.6);
  }

  /*Listing Detail*/
  .listing-detail-container {
    background-color: #BFD8D2;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 5px #888888;
  }

  .listing-detail-top {
    display: flex;
    justify-content: space-between;

  }

  .listing-detail-image {
    width: 50%;
    height: 50%;
    margin: 10px;
    border-radius: 10px;
  }

  .listing-detail-overview {
    width: 50%;
    height: 50%;
    margin: 10px;
    border: 5px solid #DF744A;
    border-radius: 10px;
    background-color: ghostwhite;
  }

  .listing-detail-overview-name {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: #DF744A;
    font-size: 26px;
  }

  .listing-detail-overview-title {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: #DF744A;
    font-size: 22px;
  }

  .listing-detail-overview-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: #DF744A;
    font-size: 18px;
  }

  .listing-detail-overview-info {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    color: #DF744A;
    font-size: 16px;
  }



  /*Lisitng Form*/
  .listing-form {
    margin-top: 20px;
    width: 100%
  }

  .listing-form-label {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;
  }

  .listing-form-input {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 5px;
    border: 1px solid #DF744A;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #888888;
    width: 40px;
  }

  .listing-form-input:focus {
    background-color: rgba(254,220,210,1);
  }



  .listing-button-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;

  }

  .listing-form-button {
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #DF744A;
    border-radius: 10px;
    padding: 5px;
    color: #DF744A;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 1px 5px #888888;
    background-color: rgba(254,220,210,1);
  }

  .listing-form-button:hover {
    background-color: rgba(254,220,210,0.7)
  }

  /*Details*/
  .listing-detail-bottom {
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;
    margin-top: 5px;
  }

  .details-nav{
    display: flex;
    margin-left: 5%;
  }

  .details-tab {
    background-color: #FEDCD2;
    padding: 5px;
  }

  .selected {
    background-color: ghostwhite;
  }

  .details-tab:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .left {
    border-top-left-radius: 5px;
  }

  .middle{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .right {
    border-top-right-radius: 5px;
  }

  .details-body {
    margin: 10px;
    margin-top: 0;
    background: ghostwhite;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
  }

  /*Cart*/
  .cart-container {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
  }

  .cart-container-title {
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;

  }

  .cart-item-container {
    background-color: #BFD8D2;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px #888888;
    padding-bottom: 10px;
  }


  /*Creator*/
  .creator-container {
    display: flex;
    align-items: center;
  }
  .creator-img {
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .creator-title {
    padding: 10px;
    padding-left: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;
    font-size: 18px;
    margin: 0px;
  }

  /*Cart Listing*/
  .cart-listing-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: ghostwhite;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cart-listing-img {
    width: 100px;
    height: 100px;
  }

  .cart-listing-detail-container {
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;

  }

  .cart-listing-left {
    display: flex;
    width: 70%;
    align-items: center;
  }

  .cart-listing-left p {
    margin: 10px 0;
  }

  .cart-listing-detail-button {
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    border: 1px solid #DF744A;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #888888;
    background-color: rgba(254,220,210,1);
    text-align: center;

  }

  .cart-listing-detail-button:hover {
    background-color: rgba(254,220,210,0.7);
  }

  .cart-pay-title {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #DF744A;
    padding-left: 10px
  }

  .cart-pay-container {
    border-left: 1px solid #ccc;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
