<!DOCTYPE html>
<html>
<head>
  <title>Foodsy</title>
  <link rel="stylesheet" href="../../assets/stylesheet/reset.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/stylesheet/styling.css" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
